.gpt4__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
}

.gpt4__cta-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0e0e0e;
}

.gpt4__cta-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}

.gpt4__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.gpt4__cta-btn button {
    color: #ffffff;
    background: #000000;
    font-family: var(--font-family);
    font-weight: bold;
    border-radius: 40px;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .gpt4__cta {
        flex-direction: column;
    }

    .gpt4__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt4__cta {
        margin: 4rem 2rem;
    }

    .gpt4__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt4__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}